input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.table-header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.add {
  font-size: 20px;
  margin-top: 5px;
  margin-left: 30px;
  color: rgb(87, 87, 231);
}

.del {
  font-size: 20px;
  color: rgb(136, 24, 24);
}

.edit {
    font-size: 20px;
    color: rgb(32, 94, 3);
}

.save {
    font-size: 20px;
    color: rgb(14, 250, 6);
}
